# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import matplotlib.pyplot as plt
import numpy as np

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Roald,NO,62.5833,6.1333,60.75,94,100,24.16,moderate rain
1,1,Torbay,CA,47.6666,-52.7314,43.75,89,75,11.50,light rain
2,2,Ilulissat,GL,69.2167,-51.1000,21.22,73,75,6.91,broken clouds
3,3,Bluff,NZ,-46.6000,168.3333,54.61,78,100,4.12,overcast clouds
4,4,Candido De Abreu,BR,-24.5669,-51.3333,67.59,82,100,2.39,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 88

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Roald,NO,62.5833,6.1333,60.75,94,100,24.16,moderate rain
4,4,Candido De Abreu,BR,-24.5669,-51.3333,67.59,82,100,2.39,overcast clouds
5,5,Mar Del Plata,AR,-38.0023,-57.5575,71.83,87,0,12.66,clear sky
6,6,Atuona,PF,-9.8000,-139.0333,77.22,81,12,15.10,few clouds
7,7,Vaini,TO,-21.2000,-175.2000,78.96,94,40,6.91,scattered clouds
8,8,Presque Isle,US,46.6811,-68.0159,60.30,59,40,4.61,scattered clouds
9,9,Bengkulu,ID,-3.8004,102.2655,74.48,92,94,3.65,overcast clouds
11,11,Mersing,MY,2.4312,103.8405,76.91,94,40,6.91,scattered clouds
12,12,Rikitea,PF,-23.1203,-134.9692,73.92,87,100,11.23,light rain
14,14,Avarua,CK,-21.2078,-159.7750,75.25,73,40,11.50,scattered clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities_df = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Roald,NO,62.5833,6.1333,60.75,94,100,24.16,moderate rain
4,4,Candido De Abreu,BR,-24.5669,-51.3333,67.59,82,100,2.39,overcast clouds
5,5,Mar Del Plata,AR,-38.0023,-57.5575,71.83,87,0,12.66,clear sky
6,6,Atuona,PF,-9.8000,-139.0333,77.22,81,12,15.10,few clouds
7,7,Vaini,TO,-21.2000,-175.2000,78.96,94,40,6.91,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
722,722,Kawalu,ID,-7.3817,108.2082,71.87,97,100,0.74,overcast clouds
723,723,Sarangani,PH,5.4033,125.4636,82.80,75,92,11.27,overcast clouds
724,724,Diamantino,BR,-14.4086,-56.4461,79.34,68,100,7.11,moderate rain
726,726,Grand-Lahou,CI,5.1367,-5.0242,77.92,87,100,7.74,light rain
727,727,Morgan City,US,29.6994,-91.2068,81.00,47,0,6.91,clear sky

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

                City Country  Max Temp Current Description      Lat       Lng
0              Roald      NO     60.75       moderate rain  62.5833    6.1333
4   Candido De Abreu      BR     67.59     overcast clouds -24.5669  -51.3333
5      Mar Del Plata      AR     71.83           clear sky -38.0023  -57.5575
6             Atuona      PF     77.22          few clouds  -9.8000 -139.0333
7              Vaini      TO     78.96    scattered clouds -21.2000 -175.2000
8       Presque Isle      US     60.30    scattered clouds  46.6811  -68.0159
9           Bengkulu      ID     74.48     overcast clouds  -3.8004  102.2655
11           Mersing      MY     76.91    scattered clouds   2.4312  103.8405
12           Rikitea      PF     73.92          light rain -23.1203 -134.9692
14            Avarua      CK     75.25    scattered clouds -21.2078 -159.7750

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Roald,NO,60.75,moderate rain,62.5833,6.1333,
4,Candido De Abreu,BR,67.59,overcast clouds,-24.5669,-51.3333,
5,Mar Del Plata,AR,71.83,clear sky,-38.0023,-57.5575,
6,Atuona,PF,77.22,few clouds,-9.8000,-139.0333,
7,Vaini,TO,78.96,scattered clouds,-21.2000,-175.2000,
8,Presque Isle,US,60.30,scattered clouds,46.6811,-68.0159,
9,Bengkulu,ID,74.48,overcast clouds,-3.8004,102.2655,
11,Mersing,MY,76.91,scattered clouds,2.4312,103.8405,
12,Rikitea,PF,73.92,light rain,-23.1203,-134.9692,
14,Avarua,CK,75.25,scattered clouds,-21.2078,-159.7750,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Roald,NO,60.75,moderate rain,62.5833,6.1333,Flem Cabins
4,Candido De Abreu,BR,67.59,overcast clouds,-24.5669,-51.3333,Hotel Recanto
5,Mar Del Plata,AR,71.83,clear sky,-38.0023,-57.5575,Gran Hotel Mar del Plata
6,Atuona,PF,77.22,few clouds,-9.8000,-139.0333,Villa Enata
7,Vaini,TO,78.96,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
8,Presque Isle,US,60.30,scattered clouds,46.6811,-68.0159,Hampton Inn Presque Isle
9,Bengkulu,ID,74.48,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
11,Mersing,MY,76.91,scattered clouds,2.4312,103.8405,Timotel Hotel
12,Rikitea,PF,73.92,light rain,-23.1203,-134.9692,People ThankYou
14,Avarua,CK,75.25,scattered clouds,-21.2078,-159.7750,Paradise Inn

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = clean_hotel_df.dropna()

# Display sample data
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Roald,NO,60.75,moderate rain,62.5833,6.1333,Flem Cabins
4,Candido De Abreu,BR,67.59,overcast clouds,-24.5669,-51.3333,Hotel Recanto
5,Mar Del Plata,AR,71.83,clear sky,-38.0023,-57.5575,Gran Hotel Mar del Plata
6,Atuona,PF,77.22,few clouds,-9.8000,-139.0333,Villa Enata
7,Vaini,TO,78.96,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
...,...,...,...,...,...,...,...
722,Kawalu,ID,71.87,overcast clouds,-7.3817,108.2082,West Jontor
723,Sarangani,PH,82.80,overcast clouds,5.4033,125.4636,JVL Inn and Cafeteria
724,Diamantino,BR,79.34,moderate rain,-14.4086,-56.4461,Hotel Delta
726,Grand-Lahou,CI,77.92,light rain,5.1367,-5.0242,Hotel Beatitude de Grand Lahou
727,Morgan City,US,81.00,clear sky,29.6994,-91.2068,Hampton Inn & Suites Morgan City

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [13]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [14]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [15]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Flem Cabins</dd>\n<dt>City</dt><dd>Roald</dd>\n<dt>Country</dt><dd>NO</dd>\n<dt>Current Weather</dt><dd>moderate rain and 60.75 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Recanto</dd>\n<dt>City</dt><dd>Candido De Abreu</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 67.59 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Gran Hotel Mar del Plata</dd>\n<dt>City</dt><dd>Mar Del Plata</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>clear sky and 71.83 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>few clouds and 77.22 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 78.96 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hampton Inn Presque Isle</dd>\n<dt>City</dt><dd>Presque Isle</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 60.3 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Grage Hotel Bengkulu</dd>\n<dt>City</dt><dd>Bengkulu</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 74.48 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Timotel Hotel</dd>\n<dt>City</dt><dd>Mersing</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 76.91 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>light rain and 73.92 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Paradise Inn</dd>\n<dt>City</dt><dd>Avarua</dd>\n<dt>Country</dt><dd>CK</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 75.25 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [16]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0   62.5833    6.1333
4  -24.5669  -51.3333
5  -38.0023  -57.5575
6   -9.8000 -139.0333
7  -21.2000 -175.2000
8   46.6811  -68.0159
9   -3.8004  102.2655
11   2.4312  103.8405
12 -23.1203 -134.9692
14 -21.2078 -159.7750

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [20]:
# Add a marker layer for each city to the map. 
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))